In [2]:
import pandas as pd
df = pd.read_excel("../Test/Sample.xlsx")

In [3]:
df.isnull().sum().sum()

0

In [4]:
df.head()

,Year,Country,Females at birth,Females at age 40,Females at age 60,Females at age 65,Females at age 80,Males at birth,Males at age 40,Males at age 60,Males at age 65,Males at age 80,Total population at birth
0,2010,Australia,84,44.9,26.2,21.8,10.1,79.5,41,23,18.9,8.5,81.7
1,2010,Austria,83.5,44.3,25.7,21.4,9.8,77.8,39.3,21.6,17.9,8.1,80.7
2,2010,Belgium,83,43.9,25.5,21.3,9.9,77.5,39,21.4,17.6,8,80.3
3,2010,Canada,83.5,44.6,26,21.7,10.4,79.2,40.8,22.8,18.7,8.7,81.4
4,2010,Chile,81.7,43.1,24.7,20.5,9.9,75.9,38.2,21,17.2,8.2,78.7

In [5]:
import numpy as np

In [6]:
df.replace("..", np.nan)

,Year,Country,Females at birth,Females at age 40,Females at age 60,Females at age 65,Females at age 80,Males at birth,Males at age 40,Males at age 60,Males at age 65,Males at age 80,Total population at birth
0,2010,Australia,84.0,44.9,26.2,21.8,10.1,79.5,41.0,23.0,18.9,8.5,81.7
1,2010,Austria,83.5,44.3,25.7,21.4,9.8,77.8,39.3,21.6,17.9,8.1,80.7
2,2010,Belgium,83.0,43.9,25.5,21.3,9.9,77.5,39.0,21.4,17.6,8.0,80.3
3,2010,Canada,83.5,44.6,26.0,21.7,10.4,79.2,40.8,22.8,18.7,8.7,81.4
4,2010,Chile,81.7,43.1,24.7,20.5,9.9,75.9,38.2,21.0,17.2,8.2,78.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,2022,India,68.9,NaN,NaN,NaN,NaN,65.8,NaN,NaN,NaN,NaN,67.2
617,2022,Indonesia,69.7,NaN,NaN,NaN,NaN,65.5,NaN,NaN,NaN,NaN,67.6
618,2022,Peru,74.7,NaN,NaN,NaN,NaN,70.1,NaN,NaN,NaN,NaN,72.4
619,2022,Romania,79.3,NaN,NaN,NaN,NaN,71.5,NaN,NaN,NaN,NaN,75.3
620,2022,South Africa,65.0,NaN,NaN,NaN,NaN,59.5,NaN,NaN,NaN,NaN,62.3

In [37]:
df.value_counts()

Year  Country        Females at birth    Females at age 40    Females at age 60    Females at age 65    Females at age 80    Males at birth    Males at age 40    Males at age 60    Males at age 65    Males at age 80    Total population at birth
2010    Argentina  79.1                ..                   ..                   ..                   ..                   72.7              ..                 ..                 ..                 ..                 75.9                           1
2018  Hungary      79.6                40.4                 22.4                 18.5                 8.3                  72.7              33.9               17.5               14.6               7                  76.2                           1
      Czechia      82.0                42.7                 24.1                 19.8                 8.8                  76.2              37.4               19.9               16.2               7.5                79.1                           1
      Denmark      82.9                43.6                 24.9                 20.7                 9.5                  79.1              40.1               22                 18                 7.9                81.0                           1
      Estonia      82.7                43.5                 24.9                 20.6                 9.7                  74.0              35.5               18.9               15.7               7.7                78.5                           1
                                                                                                                                                                                                                                                       ..
2014  Austria      84.0                44.8                 26.1                 21.8                 10.1                 79.1              40.3               22.4               18.5               8.6                81.6                           1
      Belgium      83.9                44.7                 26.2                 21.9                 10.4                 78.8              40.1               22.3               18.4               8.5                81.4                           1
      Canada       83.9                44.9                 26.3                 22                   10.6                 79.8              41.3               23.2               19.1               8.9                81.9                           1
      Chile        82.5                43.8                 25.4                 21.1                 10.3                 76.8              39                 21.6               17.8               8.4                79.6                           1
2022  Switzerland  85.4                ..                   ..                   ..                   ..                   81.6              ..                 ..                 ..                 ..                 83.5                           1
Name: count, Length: 621, dtype: int64

In [38]:
df.to_json('data.json',orient='records')

In [41]:
df.to_csv("data.csv", index=False)

In [1]:
df

NameError: name 'df' is not defined

In [7]:
df

,Year,Country,Females at birth,Females at age 40,Females at age 60,Females at age 65,Females at age 80,Males at birth,Males at age 40,Males at age 60,Males at age 65,Males at age 80,Total population at birth
0,2010,Australia,84,44.9,26.2,21.8,10.1,79.5,41,23,18.9,8.5,81.7
1,2010,Austria,83.5,44.3,25.7,21.4,9.8,77.8,39.3,21.6,17.9,8.1,80.7
2,2010,Belgium,83,43.9,25.5,21.3,9.9,77.5,39,21.4,17.6,8,80.3
3,2010,Canada,83.5,44.6,26,21.7,10.4,79.2,40.8,22.8,18.7,8.7,81.4
4,2010,Chile,81.7,43.1,24.7,20.5,9.9,75.9,38.2,21,17.2,8.2,78.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,2022,India,68.9,..,..,..,..,65.8,..,..,..,..,67.2
617,2022,Indonesia,69.7,..,..,..,..,65.5,..,..,..,..,67.6
618,2022,Peru,74.7,..,..,..,..,70.1,..,..,..,..,72.4
619,2022,Romania,79.3,..,..,..,..,71.5,..,..,..,..,75.3
620,2022,South Africa,65,..,..,..,..,59.5,..,..,..,..,62.3

In [8]:
dfgeo = df.copy()

In [9]:
dfgeo

,Year,Country,Females at birth,Females at age 40,Females at age 60,Females at age 65,Females at age 80,Males at birth,Males at age 40,Males at age 60,Males at age 65,Males at age 80,Total population at birth
0,2010,Australia,84,44.9,26.2,21.8,10.1,79.5,41,23,18.9,8.5,81.7
1,2010,Austria,83.5,44.3,25.7,21.4,9.8,77.8,39.3,21.6,17.9,8.1,80.7
2,2010,Belgium,83,43.9,25.5,21.3,9.9,77.5,39,21.4,17.6,8,80.3
3,2010,Canada,83.5,44.6,26,21.7,10.4,79.2,40.8,22.8,18.7,8.7,81.4
4,2010,Chile,81.7,43.1,24.7,20.5,9.9,75.9,38.2,21,17.2,8.2,78.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,2022,India,68.9,..,..,..,..,65.8,..,..,..,..,67.2
617,2022,Indonesia,69.7,..,..,..,..,65.5,..,..,..,..,67.6
618,2022,Peru,74.7,..,..,..,..,70.1,..,..,..,..,72.4
619,2022,Romania,79.3,..,..,..,..,71.5,..,..,..,..,75.3
620,2022,South Africa,65,..,..,..,..,59.5,..,..,..,..,62.3

In [14]:
dfgeo.columns

Index(['Year', 'Country', '  Females at birth', '  Females at age 40',
       '  Females at age 60', '  Females at age 65', '  Females at age 80',
       '  Males at birth', '  Males at age 40', '  Males at age 60',
       '  Males at age 65', '  Males at age 80',
       '  Total population at birth'],
      dtype='object')

In [15]:
dfgeo = dfgeo.drop(columns=['  Females at birth', '  Females at age 40',
       '  Females at age 60', '  Females at age 65', '  Females at age 80',
       '  Males at birth', '  Males at age 40', '  Males at age 60',
       '  Males at age 65', '  Males at age 80'])

In [16]:
dfgeo

     Year         Country    Total population at birth
0    2010       Australia                         81.7
1    2010         Austria                         80.7
2    2010         Belgium                         80.3
3    2010          Canada                         81.4
4    2010           Chile                         78.7
..    ...             ...                          ...
616  2022           India                         67.2
617  2022       Indonesia                         67.6
618  2022            Peru                         72.4
619  2022         Romania                         75.3
620  2022    South Africa                         62.3

[621 rows x 3 columns]

In [17]:
dfgeo.to_csv("dfgeo.csv", index=False)

In [19]:
dfgeo.to_json('dfgeo.json',orient='records')